/* general rule */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

#contain {
    width: 80%;
    margin:50px auto;
}

body{
    /* background-color: rgb(255, 255, 255); */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.row ::after{
    content:"";
    display: table;
    clear: both;
}

/* header */

header{
    text-align: center;
}

h1{
    color:#e43270;
}

/* main */

 /* regole colonne */

 .col{
    width:274px;
    background-color: #0f0e17; 
    height: 79px;
    float: left;
}

.col-1{
    border-left:solid 12px white; 
    border-right:solid 12px white; 
    border-bottom:solid 12px white; 
    border-top:solid 12px white; 
} 


.col-2{
    border-left:solid 12px white; 
    border-right:solid 12px white; 
    border-bottom:solid 12px white; 
    border-top:solid 12px white; 
}


.col-3{
    border-left:solid 12px white; 
    border-right:solid 12px white; 
    border-bottom:solid 12px white; 
    border-top:solid 12px white; 
} 
 
.photo{
    height: 55px;
    width: auto;
}

